.loginSection {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
}

.icons {
  color: #583377;
  height: 25px;
  width: 25px;
}
.heading p {
  margin-left: 3px;
  color: #272626;
}
.formWrapper {
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 20px 40px;
}

.formHeading {
  margin-bottom: 15px;
  color: #272626;
}
.formHeading h4 {
margin-bottom: 10px;
  font-size: 20px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px
}
.inputWrapper input {
  padding: 13px 0px 8px 0px;
  border: none;
  /* font-size: 18px; */
  color: #583377;
  border-bottom: 1px solid gray;
}
.inputWrapper input:focus {
  outline: none;
}
.inputWrapper input::placeholder {
  font-size: 14px;
}

.submitBtnStyle input {
  width: 100%;
  padding: 9px;
  font-size: 20px;
  margin-top: 30px;
  border: none;
  transition: 0.3s ease-in-out;
  color: white;
  /* background-color: #10e0e1; */
  background-color: #583377;
}
.submitBtnStyle input:hover {
  background-color: #5a9ed1;
  cursor: pointer;
}
.imageWrapper {
  width: 400px;
  height: 500px;
  text-align: center;
  /* background-color: #10e0e1;
     */
  background-color: #583377;
}
.noAccount {
  display: flex;
  color: #272626;
  margin-top: 10px;
}
.noAccount a {
  color: #583377;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.noAccount a:hover {
  color: #5a9ed1;
}

.imageWrapper img {
  width: 300px;
  height: 350px;
  margin-top: 80px;
  object-fit: contain;
}
